html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#container{
    min-height:100%;
    position: relative;
}

#header{
    padding: 10px;
}

#content{
    padding-bottom: 100px;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#cc5f61;
    color: white;
    text-align: center;
    padding: 8px;
}

#ulFooter{
    list-style-type: none;
}

#aFooter{
    position: relative;
    text-decoration: none;
    color: white;  
}

/* header.html, class="navbar"*/
.navbar-custom {
    position: fixed;
    background-color: #cc5f61;
    color: white;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a{
    color: white;
}

.navbar-custom .navbar-nav > .active > a{
    color: white;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a{
    text-decoration: none;
    background-color: #b43c36;
}

.navbar-custom .navbar-brand{
    color: white;
}

.navbar-custom .navbar-toggle{
    background-color: white;
}

.navbar-custom .icon-bar{
    background-color: #b43c36;
}

.navbar-custom .navbar-nav .dropdown-menu{ 
    background-color: #cc5f61;
}

.navbar-custom .navbar-nav .dropdown-menu>li>a{ 
    color: white;
}

.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,
.navbar-custom .navbar-nav .dropdown-menu>li>a:focus{ 
    color: white;
    background-color: #b43c36;
}

.add-on .input-group-btn > .btn{
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.add-on .form-control:focus {
   box-shadow: none;
   -webkit-box-shadow:none; 
   border-color:white; 
}

.navbar-nav:last-child{ 
    border-right:0
}

/* header.html id="logInSignIn"*/
#modalHeader{
    position: relative;
    text-align: center;
    background-color: #cc5f61;
    color: white;
    font-size: 25px;
    font-style: initial;
}

#btnLogIn{
    background-color: #cc5f61;
    color: white;
    position: relative;
    left: 40%;    
}

#btnClose{
    color: white;
}

#modalFooter{
    background-color: #cc5f61;    
}

#pModalFooter{
    color: white;
    text-align: center;
}

#h4ModalFooter{
    color: white;
    text-align: center;
}

#aModalFooter{
    color: #cc5f61;
}

/*index.html*/
#jumbotronIndex{    
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(index_book.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50px; 
    
}

#jumbotronIndexIn{
    position: relative;
    background-color: rgba(235, 212, 212, 0.5);
    color:  #882223;
    text-align: center;
    font-style: italic;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 40px;
}

/*all categories*/
#wellHeaderCategories{
    position: relative;
    top: 55px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid;
    border-color: #cc5f61;
    text-align: center;
    color: black;
}

#imageHeaderCategories{
    position: relative;
    max-block-size: 150px;
}

#genre{
    font-style: italic;
}

#wellAds{
    position: relative;
    background-color: white;
    border: 2px solid;
    border-color: #cc5f61; 
    color: black;
    top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;

    
}

/**/
#signUp, #generalTerms, #contactContent, #howWorksContainer{
    position: relative;
    top: 50px;
}

#signUpH1, #signUpH4{
    text-align: center;
}

#signUpText, #signUpPass, #signUpTel{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#signUpText:focus, #signUpPass:focus, #signUpTel:focus{
    background-color: #ddd;
    outline: none;
}

hr{
    border: 1px solid #b43c36;
    margin-bottom: 25px;
}

#signUpAgree{
    text-align: center;
}

.signupbtn{
    background-color: #76b35e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.cancelbtn{
    background-color: #c54f49;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.cancelbtn, .signupbtn{
    float: left;
    width: 50%;
}

#generalTermsContainer, #contactContainer{
    padding: 16px;
    position: relative;
    top: 70px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

#h4GeneralTerms, #h3GeneralTerms, #dataGeneralTerms{
    text-align: center;
}

#textGeneralTerms{
    position: relative;
    width: 100%;
    height: 300px;
}

#map{
    position: relative;
    width: 40%;
    height: 300px;
    margin-right: 5%;
    margin-left: 15%;  
    top: 5px;      
    bottom: 30px;
    float: left;
}

#pMaps{
    position: relative;
    width: 40%;
    float: left;
}

#contactClearfix{
    clear: both;
}

#subjectTextArea{
    height: 200px;
}

#fname, #lname, #email, select, #subjectTextArea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#btnContSubmit{
    background-color: #76b35e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnContSubmit:hover {
    background-color: #76b35e;
}

#textQuestionForm{
    text-align: center;
}

#imgHowWorks{
    position: relative;
    max-width:65%;
    height:auto;
    margin-left: auto;
    margin-right: auto;    
}

